*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/elklib-config
/elklib-config-i686

/inc/elklib.h
/src/config.h
/src/config.h.in
/src/stamp-h1

/tests/test-c++-numeric-1
/tests/test-c++-iterator-1
/tests/test-c++-algorithm-1
/tests/test-c++-algorithm-2
/tests/test-c++-functional-1
/tests/test-c++-string-1
/tests/test-c++-list-1
/tests/test-c++-vector-1
/tests/test-c++-clibrary-1
/tests/test-c++-bitset-1
/tests/test-c++-deque-1
/tests/test-c++-exception-1
/tests/test-c++-map-1
/tests/test-c++-memory-1
/tests/test-c++-queue-1
/tests/test-c++-set-1
/tests/test-c++-stack-1

/tools/maint/fetch
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/tools/maint/guards-check

/tools/autotools/install-sh
/tools/autotools/missing
/tools/autotools/mdate-sh
/tools/autotools/texinfo.tex
/tools/autotools/compile
/tools/autotools/depcomp
/tools/autotools/config.guess
/tools/autotools/config.sub

/docs/man/sitetool.1
/docs/info/elklib.info
/docs/doxygen
/docs/Doxyfile
/docs/Doxyfile.bak

/site/out/*
/site/in/.sitetool
/site/in/site.as
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/in/Doxyfile
/site/in/doxygen
