*~
.deps
.dirstamp

Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version
/.releases

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/elklib-config
/elklib-config-i686
