*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

elklib-config
elklib-config-i686

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

configure
configure.ac
config.log
config.status

inc/elklib.h
src/config.h
src/config.h.in
src/stamp-h1

tests/test-c++-algorithm-1
tests/test-c++-string-1
tests/test-c++-list-1
tests/test-c++-vector-1
tests/test-c++-clibrary-1

tools/scripts/gitlog2ChangeLog
tools/scripts/NEWS-query
tools/scripts/fetch
tools/scripts/whitespace-detect

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex
tools/autotools/compile
tools/autotools/depcomp
tools/autotools/config.guess
tools/autotools/config.sub

docs/man/sitetool.1
docs/info/elklib.info
docs/doxygen
docs/Doxyfile

site/in/.sitetool
site/in/site.stamp
site/in/Doxyfile
site/in/doxygen
site/out/*